<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <title><%= locals.title %> | <%= page %></title>
    <link rel="stylesheet" href="./css/login.css">
</head>

<body>
    <header>
        <h1>CLEMS</h1>
        <p>Centralized Local Event Management System</p>
    </header>

    <main>
            <form action="/login" method=POST>
                <input type="text" name="username" id="username"
                placeholder="Username" required>
                <input type="password" name="password" id="password"
                placeholder="Room Password" required>
                <input type="submit" value="Login">
            </form>
    </main>

    <footer>
        <% if (error) { %>
            <p class="toast toast-error"><%= error %></p>
        <% } %>
    </footer>

    <script>
        var iOS = navigator.platform && /iPad|iPhone|iPod/.test(navigator.platform);
        if (iOS) document.head.querySelector('meta[name="viewport"]').content = "width=device-width, initial-scale=1, maximum-scale=1"
        else document.head.querySelector('meta[name="viewport"]').content = "width=device-width, initial-scale=1"

        // Handle the browser frame that affect viewport
        function viewport_adjustment() {
          let vh = window.innerHeight * 0.01
          document.documentElement.style.setProperty('--vh', `${vh}px`)
        }

        viewport_adjustment()
        window.addEventListener('resize', () => viewport_adjustment());
    </script>
</body>

</html>
