<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CLEMS | <%= title %></title>
    <link rel="stylesheet" href="./css/settings.css" type="text/css" media="all">
  </head>

  <body>
    <header>
      <button id="btn-back" class="btn-text" type="submit">Back</button>
      <h1>CLEMS: Room #1</h1>
    </header>
    <main>
      <h3>OPTIONS</h3>
      <section>
        <ul>
          <li>
            <p>Receive Voice Message</p>
            <button>Toggle</button>
          </li>
          <li>
            <p>Receive Image File</p>
            <button>Toggle</button>
          </li>
          <li>
            <p>Muted User(s)</p>
            <button>Toggle</button>
          </li>
        </ul>
      </section>
      <section class="user-action">
        <button id="btn-export" class="btn-text" type="submit">Export</button>
        <button id="btn-logout" class="btn-text" type="submit">Logout</button>
      </section>
    </main>
    <footer>

    </footer>
    <!-- <script src="/socket.io/socket.io.js"></script> -->
    <script charset="utf-8">
      // Handle the browser frame that affect viewport
      (function viewport_adjustment() {
        let vh = window.innerHeight * 0.01
        document.documentElement.style.setProperty('--vh', `${vh}px`)
      })()
      window.addEventListener('resize', () => viewport_adjustment());

      document.querySelector('#btn-back').addEventListener('click', () => window.history.back())
    </script>
  </body>

</html>
