<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= locals.title %> | <%= page %></title>
    <link rel="stylesheet" href="./css/settings.css" type="text/css" media="all">
  </head>

  <body>
    <header>
      <h1><%= locals.roomname %></h1>
      <button id="btn-back" class="btn-text" type="submit">Back</button>
    </header>
    <main>
      <h3>OPTIONS</h3>
      <section>
        <ul>
          <li>
            <p>Change Username</p>
            <button id="btn-change-username">Change</button>
          </li>
          <% if (isAdmin) { %>
          <li>
            <p>Change Room Name</p>
            <button id="btn-change-roomname">Change</button>
          </li>
          <% } %>
        </ul>
      </section>
      <section class="user-action">
        <% if (isAdmin) { %>
        <button id="btn-export-chat" class="btn-text btn-export" type="submit">Export Chats</button>
        <button id="btn-export-user" class="btn-text btn-export" type="submit">Export Users</button>
        <button id="btn-delete-room" class="btn-text" type="submit">Delete Room</button>
        <% } %>
        <button id="btn-logout" class="btn-text" type="submit">Logout</button>
      </section>
    </main>
    <footer>
      <small>&copy 2021 CLEMS. All rights reserved.</small>
    </footer>
    <!-- <script src="/socket.io/socket.io.js"></script> -->
    <script src="./js/screen.js"></script>
    <script src="./js/settings.js"></script>
  </body>

</html>
