@import './main.css';

body {
  grid-template-rows: 1fr 80%  1fr;
  grid-template-columns: 1fr;
  align-content: space-between;
}

/* Grid items */
#chat-header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
  border-bottom: solid 2px var(--gray2);
  box-shadow: 0 5px 15px 2px var(--shadow)
}

#chat-input {
  width: 100%;
  padding: 10px;
  background-color: var(--white);
}

#chat-input > form {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#chat-input > form > input[type=text] {
  flex: 1 0 70%;
  margin-right: 0.5em;
  padding: 0.5em 0.5em;
  border: 2px solid var(--black);
  border-radius: 0.5em;
}

#chat-input > form > input[type=button] {
  flex: 0 1 auto;
  margin-right: 0.25em;
  padding: 0.5em;
  text-align: center;
  border-radius: 1em;
  background-color: green;
  color: white;
}

#chat-feedback {
  padding: 0 0.5em;
  color: var(--gray3);
  text-align: center;
}

.btn-media-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  flex: 0 1 auto;
  margin-right: 0.25em;
}

.btn-media {
  padding: 0.5em;
  text-align: center;
  border-radius: 0.5em;
  border: 2px solid var(--black);
  color: var(--gray);
  background-color: white;
}

.btn-media-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

#chat-content {
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

#chat-content .message-from {
  max-width: 80%;
  align-self: flex-start;
  text-align: left;
  word-wrap: break-word;
}

#chat-content .message-to {
  max-width: 80%;
  align-self: flex-end;
  text-align: right;
  word-wrap: break-word;
}

#chat-content .message-content {
  margin: 3px 0 20px 0;
  padding: 5px 10px;
}

#chat-content .message-to p:first-child {
  margin: 0 15px 0 0;
  font-size: 0.7em;
  color: var(--gray3);
}

#chat-content .message-from p:first-child {
  margin: 0 0 0 15px;
  font-size: 0.7em;
  color: var(--gray3);
}

#chat-content .message-to .message-content {
  background-color: var(--green);
  border-radius: 15px 15px 0 15px;
}

#chat-content .message-from .message-content {
  background-color: var(--blue);
  border-radius: 15px 15px 15px 0;
}

#btn-logout {
  background-color: var(--red);
}

#btn-settings {
  background-color: var(--gray);
}

#btn-send {
  border: none;
  background-color: transparent;
  font-size: 1.5em;
  color: var(--green2)
}
